@import "tailwindcss";

/* .btn-style {
  @apply relative inline-block px-4 py-2 border-2 border-gray-300 text-[#ab8a62] font-medium rounded-md overflow-hidden transition-all duration-300 group;
}
.btn-style span {
  @apply relative z-10 block group-hover:text-white;
}
.btn-style::before {
  content: '';
  @apply absolute inset-0 bg-[#ab8a62] scale-y-0 group-hover:scale-y-100 origin-bottom transition-transform duration-300 ease-out z-0;
} */
@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.animate-kenburns {
  animation: kenburns 20s ease-in-out infinite alternate;
}
.btn-outline {
  @apply border-2 border-[#ab8a62] text-[#ab8a62] px-3 py-[0.3rem] rounded-md hover:bg-[#ab8a62] hover:text-white text-xs;
}

.btn-filled {
  @apply bg-[#ab8a62] text-white px-3 py-[0.3rem] rounded-md hover:bg-[#93714e] text-xs;
}

.btn-outline {
  @apply border border-[#ab8a62] text-[#ab8a62] px-4 py-1 rounded hover:bg-[#ab8a62] hover:text-white transition;
}

.btn-filled {
  @apply bg-[#ab8a62] text-white px-4 py-1 rounded hover:opacity-90 transition;
}

